absl-py==1.4.0
albucore==0.0.20
albumentations==1.4.21
annotated-types==0.7.0
asttokens
astunparse==1.6.3
Bottleneck 
Brotli 
certifi 
charset-normalizer 
click==8.1.7
colorama
comm 
contourpy 
cycler 
debugpy 
decorator
dm-tree==0.1.8
etils==1.5.2
eval_type_backport==0.2.0
exceptiongroup 
executing 
filelock 
flatbuffers==24.3.25
fonttools 
fsspec==2024.10.0
gast==0.6.0
gmpy2 
google-pasta==0.2.0
grpcio==1.67.1
h5py==3.12.1
idna==3.10
importlib_metadata 
importlib_resources
ipykernel 
ipython 
jedi 
Jinja2 
jupyter_client 
jupyter_core 
keras==3.6.0
kiwisolver
libclang==18.1.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe
matplotlib==3.9.2
matplotlib-inline
mdurl==0.1.2
mkl-service==2.4.1
mkl_fft 
mkl_random 
ml-dtypes==0.4.1
mpmath 
namex==0.0.8
nest_asyncio
networkx 
numexpr
numpy==1.26.4
opencv-python
opencv-python-headless
opt_einsum==3.4.0
optree==0.13.0
packaging
pandas 
parso 
pickleshare 
pillow 
platformdirs 
ply==3.11
promise==2.3
prompt_toolkit 
protobuf==3.20.3
psutil 
pu==0.20.1
pure_eval
pydantic==2.9.2
pydantic_core==2.23.4
Pygments
pyparsing 
PyQt5==5.15.10
PyQt5-sip
PySocks 
python-dateutil
python-dotenv==1.0.1
pytz 
PyYAML 
pyzmq 
requests
rich==13.9.4
scipy==1.13.1
simsimd==6.0.1
sip 
six 
stack-data
stringzilla==3.10.7
sympy
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow-metadata==1.16.1
tensorflow-model-optimization==0.8.0
tensorflow_intel
termcolor==2.5.0
tf_keras==2.18.0
tfds-nightly
toml==0.10.2
tomli 
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
tornado 
tqdm==4.66.6
traitlets
typing_extensions 
tzdata 
unicodedata2 
urllib3 
wcwidth 
Werkzeug==3.1.2
win-inet-pton 
wrapt==1.16.0
zipp 
